<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather</title>
     <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/1555/1555512.png" style="width: 50px; height:50px;">
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    {{>header}}
    <div class="main-content">
      <div class="about">
        <div>
    <img src="/images/profile.jpg" alt="profile">
    </div>
    <div class="content">
      <h4>Software Developer</h4>
      <p>A MERN Stack Developer graduated from College of Engineering Guindy, Chennai.Currently, pursuing Web Developer Internship at FossFreaks Private Limited.</p>
    </div>
    </div>
    </div>
    {{>footer }}
  </body>
</html>